@import "variadles.scss";
@import "/src/components/header.scss";
@import "/src/components/banner.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: black;
}

.main {
  width: 1440px;
  margin: auto;
}
