@import "variadles.scss";
@import "/src/components/header.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: black;
}
