.banner {
  display: flex;
  justify-content: space-between;
  margin: 109px 0 0 64px;

  &-list {
    display: flex;
    flex-direction: column;

    &-object {
      display: flex;
      align-items: baseline;
      margin-left: 120px;
      position: absolute;
      padding-top: 48px;
      z-index: 1;
    }

    &-title {
      font-family: $fondPlayfair;
      font-size: $fontSizeXXL;
      font-weight: 400;
      color: $powder;
      margin: 0 24px 0 0;
    }

    &-text {
      font-family: $fondPlayfair;
      font-size: $fontSizeXL;
      font-style: italic;
      font-weight: 500;
      color: $maroon;
    }

    &__txt, &__order {
      font-family: $fontSansPro;
      font-size: $fontSizeM;
      font-weight: 400;
      color: $powder;
    }

    &__txt {
      padding-top: 90px;
      margin: 0 0 42px 100px;
    }

    &__order {
      text-transform: uppercase;
      background-color: $maroon;
      border-radius: 15px;
      padding: 16px 32px;
      margin-left: 100px;
      outline: none;
    }
  }

  &-images {
    margin: 20px 0 65px 0;

    &__ellipse {
      position: absolute;
      margin-top: 170px;
    }

    &__flobanner {
      position: relative;
      margin-left: 36px;
      margin-top: 10px;
    }
  }
}

.benefit {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;

  &-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 124px;

    &:last-child {
      margin-right: 0;
    }

    &__text {
      font-family: $fontSansPro;
      font-size: $fontSizeXS;
      text-align: center;
      font-weight: 400;
      color: white;
    }

    &__icon {
      width: 40px;
      height: 40px;
    }

  }
}
